*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    background-color: #111826;
    color: #FFFFFF;
    width: 100%;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    }
    
    .menu ul{
        display: flex;
        gap: 1rem;
        list-style: none;
    }
    .logo{
        width: 30%;
    }
    .logo img{
        height: 40px;
    }
  .menu a{
        color: #FFFFFF;
        text-decoration: none;
    }
    
    .menu a:hover{
        text-decoration: underline;
        transition: 0.5s;
        color: #ffe100;
    }
    
     #open-slide,#close{
        display: none;
    }
/* Navigation-meun-header end  */

/* section one start */

/* section one article start */
.section-one-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section-one-content{
    margin-left: 39px;
}

.content{
    font-size: 80px;
    font-weight: bolder;
    padding: 2% 4% 3% 1%;
}

.shed{
    width: 40%;
    position: absolute;
    top: 45%;
    left:1%;
    z-index: -1;
}

.section-one-content h3{
    margin: 0 0 3% 2%;
}

.txt-1{
    padding: 0 10% 0 2%;
    margin-right: 10em;
    margin-bottom: 3%;
    width: 80%;
}

.txt-2{
    padding: 0% 2%;
    margin-bottom: 3%;
}

.button{
    margin: 0% 2%;
    background-color: #1FC77E;
    color: #FFFFFF;
    padding: 2% 3%;
    border: none;
    border-radius: 5px;
}
/* section one article ended */

/* section one images start */

.photo-one{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3%;
}

.photo-1-child{
    margin-bottom: 5%;
    padding-bottom: 20%;
}

.ph-a{
    margin-bottom: 15%;
}

.photo-three{
    display: flex;
    position: absolute;
    top: 48%;
}

.pic{
    padding: 2rem 1rem 2rem 2rem;
}

.seak{
    position: relative;
   bottom: 15%;
}

.gpt-update{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 6%;
    margin-right: 5%;
}

.office{
    width: 80%;
    z-index: -1;
}

.conments{
    width: 15%;
    position: absolute;
    left: 66%;
    top: 84%;
}

.che-bouble{
    position: absolute;
    top: 93%;
    left: 78%;
    display: flex;
    gap: 1px;
}

.fa-check-double{
    color: #3497F9;
}

.coloring{
    position: absolute;
    right: 23%;
    top: 77%;
}

.flex-colors{
    margin-top: 50%;
    margin-left: 100%;
}

#time{
    color: #3497F9;
}

/* section one images end */
/* section one end */


/* section two start */
.section-two-containers{
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 6rem;
}

/* image section start */
.meadi{
    position:relative;
}

.orengs{
   margin-left: 10rem;
   margin-bottom: 10rem;
}

.facebook-image{
    position: absolute;
    border-radius: 50%;
    background-color: #FFFFFF;
    left: -12%;
    top: 15%;
    padding: 5%;
}

.yello-rad{
    position: absolute;
    width: 30%;
    right:-23%;
    top:15%;
    z-index: -1;
}

 .green-rad{
    position: absolute;
    width: 30%;
    left: -15%;
    bottom:20%;
    z-index: -1;
}

.whatsapp{
    position: absolute;
    right: -11%;
    bottom: 10%;
    border-radius: 50%;
    width: 30%;
    padding: 3%;
    background-color: #FFFFFF;
} 

/* image section end */
.two-content{
    margin-bottom: 6rem;
    margin-left: 12rem;
}

.two-content span{
    color: #1FC77E;
}

.two-content h4{
    font-size: 62px;
    font-weight: 500;
    padding: 0 2%;
}

.article{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 70%;
    border: none;
    border-radius: 5px;
    padding-left: 2%;
    padding-right: 3%;
    width: 58%;
    margin-left: 3%;
}

.text-one{
    padding-top: 10px;
    padding-right: 1rem;
    font-size: 16px;
    font-weight: 500;
}

.main-size{
    width: 85%;
    padding-top: 3%;
    padding-right: 1%;
    font-size: 14px;
} 

.support{
    background-color: #1FC77E;
    padding-top: 3px;
    padding-right: 10px;
    padding-left: 5px;
    margin-left: 1rem;
    margin-right: 3rem;
    border-radius: 10px;
}

.gray-text{
    background-color: rgba(255, 255, 255, 0.2);
    margin: 3% 10% 3% 3%;
    padding: 3% 3%;
    border: none;
    border-radius: 5px;
}

/* section two end*/

          /* section three start */

.section-three-containers{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;
}

.cloud{
    display: flex;
}

.heading2{
    width: 50%;
    font-size: 50px;
    font-weight: 400;
    font-family: 'FS Meridian Trial';
}

.heading2 span{
    color: #1FC77E;
}

.star-logo{
    position: absolute;
    top: 277%;
    left: 64%;
}

.star-logo2{
    margin-left: 100%;
}

.personal{
    display: grid;
     padding: 1rem 5rem ;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}

.cards{
    flex: 1;
    background-color: #414651;
    border: none;
    border-radius: 5px;
    padding: 1rem;
}

.icons .fas{
    color: #ffe100;
}

.cards h5{
    font-size: 15px;
    font-weight: 500;
    padding: 5% 0;
}

.luke{
    display: flex;
    align-items: center;
    gap: 3%;
    padding-top: 1rem;
}
.cards p{
    line-height: 1.4;
}

.circle-icon{
  text-align: center;
    color: #414651;
    margin-bottom: 9rem;
}

.circle-icon #white{
    color: #FFFFFF;
}

           /* section three end */
           /* section four start */
.comunity{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: #1FC77E;
    width: 70%;
    left: 15%;
    margin-top: -10%;
    border: none;
    border-radius: 5px;
}

.last-side{
    width: 60%;
    font-size: 42px;
    font-weight: 300;
    font-family: 'FS Meridian Trial';
}

.last-side span{
    color: #000000;
}

.black-btn{
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 6px;
    border: none;
    padding: 15px;
    text-align: start;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 125px 15px 125px 30px;
}

footer{
    position: absolute;
    background-color: #000000;
    width: 100%;
    z-index: -1;
}

.end-fot{
    margin-bottom: 4%;
    margin-top: 18%;
    margin-left: 10%;
    display: flex;
    align-items: center;
    gap: 8%;
    z-index: -1;
}

.om-logo{
    width: 20%;
    margin-bottom: 15%;
}

.ipsum{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

.ipsum a{
    padding-top: 20%;
    color: #FFFFFF;
    text-decoration: none;
    word-spacing: 2%;
}

.ipsum a:hover{
    text-decoration: underline;
}

.ip-sum{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
}

.dolar{
    color: #1FC77E;
}

.ip-sum a{
    padding-top: 10%;
    color: #FFFFFF;
    text-decoration: none;
    word-spacing: 2%;  
}

.ip-sum a:hover{
    text-decoration: underline;
}

.areng{
    margin-bottom: 3%;
    font-family: 'General Sans';
}

.follow{
    display: flex;
}

.follow input{
    margin-top: 7%;
    text-align: start;
    padding: 8px 20px;
    border-radius: 5px;
    background-color: #000000;
    color: gray;
}

.triangle-icon{
    margin: 7%  10%;
    position: relative;
    right: 25%;
    padding-top: 6%;
}


@media screen and (max-width: 769px) {
    /* Navigation-meun-header start */

    nav{
        padding: 1rem;
    }
   .menu{
     position: absolute;
     display: none;
     top: 0;
     right: 0;
     width: 200px;
     height: 100vh;
     background-color: #111826;
     z-index: 2;
     overflow: hidden;
  } 
.menu ul{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

 #open-slide,#close{
    display: block;
    cursor: pointer;
}
    .navbar-nav{
        display: none;
    }

    .navbar-nav a{
        display: none;
    }

    .fa-bars{
        position: absolute;
        left: 83%;
        bottom: 93%;
    }    

    .logo img{
        width: 100%;
    }
    .section-one-container{
        display: grid;
        grid-template-columns:  repeat(1, 1fr);
        width: 100%;
    }

    .section-one-content{
        width: 90%;
        position: relative;
        right: 5%;
        top: 10%;
    }

    .content{
        font-size: 45px;
        font-weight: bolder;
        padding: 23% 1% 1% 1%;
    }
    
    .shed{
        display:none;
    }

    .section-two-content{
        position: absolute;
        top: 12%;
    }
    
    .photo-one{
        position: relative;
        margin-top: 15%;
    }
    
    .photo-1-child{
        position: absolute;
        width: 190%;
        bottom: -20%;
        left: 20%; 
    }

    .ph-a{
        position: relative;
        width: 65%;
        left: 225%;
       /* margin-bottom: 30%; */
        padding-top: 10%;
    }

    .photo-three{
        display: none;
    }

    .picture{
        display: none;
    }

    .gpt-update{
        display: none;
    }
    /* section one end  */

    .section-two-containers{
        flex-direction: column-reverse;
        padding: 0 1rem;
    }

    .meadi{
    width: 70%;
    }

    .two-content{
        margin-top: 30%;
        margin-right: 15rem;
        width: 100%;
    }

       .two-content h4{
        width: 130%;
        position: relative;
        font-size: 40px;
        padding-left: 7rem;
        bottom: 5%;
        right: 22%;
    }

    .article{
        position: relative;
        right: 23%;
        padding-left: 5%;
        padding-bottom: 5%;
        width: 95%;
        margin: 5% 0 0 7rem;
    }

    .support{
        position: absolute;
        background-color: #1FC77E;
        left: 72%;
        top: 30%;
        border-radius: 10px;
    }

    .main-size{
        width: 80%;
        padding-top: 3%;
        padding-right: 1%;
        font-size: 14px;
    } 

    .gray-text{
        position: relative;
        width: 95%;
        left: 5%;
        padding: 6% 0% 7% 10%;
    }

    .section-two-containers{
        padding: 20%;
    }

    .iphone-mages{
        width: 90%;
        padding-left: 5%;
    }

    .facebook-image{
        left: -10%;
    }

    .yello-rad{
        right:-12%;
    }
    
     .green-rad{
        left: -10%;
    }
    
    .whatsapp{
        right: -5%;
    } 

    .section-two-containers{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
       }

       .section-three-containers{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    .cloud{
        display: flex;
        width: 100%;
    }

    .heading2{
        font-size: 30px;
        font-weight: 100%;
        padding-right: 2px;
        margin-top: 3rem;
    }

    .contain-logo{
        position: relative;
    }

    .star-logo{
        position: absolute;
        width: 60%;
        top: 90%;
        left: 40%;
    }
    
    .star-logo2{
        width: 50%;
        margin-left: 2%;
        margin-top: 8rem;
    }

    .personal{
        display: grid;
        padding: 1rem 0;
        /* margin-top: 1px; */
        grid-template-columns: 350px;
    }

    .cards:nth-of-type(2){
        display: none;
    }

    .circle-icon{
          margin-bottom: 12rem;
      }
    
    .comunity{
        flex-direction: column;
        left: 35px;
        margin-top: -40%;
        width: 80%;
    }

    .last-side{
        padding: 2rem 3rem;
        width: 100%;
        font-size: 25px;
        font-weight: 200;
        font-family: 'FS Meridian Trial';
    }

    .black-btn{
        text-align: start;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin: 3rem;
    }

    .end-fot{
        position: relative;
        width: 80%; 
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: -1;
    }
    
    .om-logo{
        width: 40%;
        margin-top: 50%;
    }

    .ipsum{
        display: grid;
        grid-template-columns: repeat(2, 100px);
    }

    .ipsum a{
        padding-bottom: 5%;
        margin-left: 20%;
        position: relative;
        bottom: 120%;
        font-weight: 500;
        font-size: 20px;
    }

    .ipsum a:nth-of-type(2){
        padding-left: 60%;
    }

    .ipsum a:nth-of-type(4){
        padding-left: 60%;
    }

    .dolar{
        color: #1FC77E;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 3px;
        position: absolute;
        bottom: 27%;
        left: 7%;
    }

    .ip-sum{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 5%;
    }

    .ip-sum a{
        margin: 10%;
        position: relative;
        left: 12%;
        font-size: 20px;
    }

    .ip-sum a:nth-of-type(2){
        padding-left: 60%;
    }

    .areng{
        display: none;
    }
}




/*---------------- Table -------------*/

